.container{
    width: 100%;
    margin: 0 20px;
}
header{
    height: 150px;
    background-color:#fff;
}
.logo{
    padding: 50px 20px;
}
nav{
    height: 75px;
    background-color: #b3b3ff;
}
main{
    height: 500px;
    background-color: rgb(232, 239, 233);
}

footer{
    height: 150px;
    background-color: rgb(133, 139, 139);
}